mixin features()
  section.features

    .container

      +img("content", "house-2", "png", 763, 1009, "Вариант дома")

      .features__container
        ul.features__list
          li Современные планировки, которые позволяют максимально эффективно использовать пространство.
          li Высококачественные строительные материалы, обеспечивающие долговечность и безопасность.
          li Развитая инфраструктура в районе — школы, магазины, спортивные и развлекательные зоны.
          li Энергоэффективные технологии для снижения расходов на коммунальные услуги и поддержания оптимальной температуры.

        a(href="#").btn.btn--white-bg.features__btn Заказать консультацию

      +img("content", "house-3", "png", 763, 1009, "Вариант дома")
