.btn {
  display: inline-flex;
  // padding: 10px 20px;
  // padding: 20px 50px;
  padding: 21px 40px;
  border-radius: 4px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: "Arial";
  // font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  background-color: #fff;
  color: #222;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--black-bg {
    background-color: #282829;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 1023px) {
  .btn {
    padding: 15px 30px;
  }
  .btn--black-bg {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 767px) {
  .btn--black-bg {
    font-size: 16px;
    line-height: 24px;
  }

  .btn {
    font-size: 16px;
    line-height: 24px;
  }
}
