foreignObject {
  aspect-ratio: 16 / 9;
  font-size: 1rem;
}

video {
  width: 100%;
}

text {
  font-weight: bold;
  fill: #d4d4d4;
}

.back {
  fill: #252525;
}

.erectio [fill="black"] {
  height: .5rem;
}


.video .container {
  padding: 0;
}
